<app-header></app-header>
<section class="intro_section page_mainslider ds">
    <div class="flexslider vertical-nav" data-dots="false" data-nav="true">
        <ul class="slides">
            <li> <img src="assets/images/slide01.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <h5 class="text-uppercase thin"> P-GRIP Manufacturing </h5>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <h2 class="text-uppercase thin"> <strong class="highlight">Commited</strong> To Super Quality </h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp"> <a routerLink="/product" class="theme_button color1 inverse">
                                go to shop
                            </a> </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src="assets/images/slide02.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <h5 class="text-uppercase thin"> P-GRIP Manufacturing </h5>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <h2 class="text-uppercase thin"> <strong class="highlight2">Application</strong> Of technology </h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp"> <a routerLink="/product" class="theme_button color2 inverse">
                                go to shop
                            </a> </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src="assets/images/slide03.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <h5 class="text-uppercase thin"> P-GRIP Manufacturing </h5>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <h2 class="text-uppercase thin"> <strong class="highlight3">Providing</strong> Best Products </h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp"> <a routerLink="/product" class="theme_button color3 inverse">
                                go to shop
                            </a> </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
        </ul>
    </div>
    <!-- eof flexslider -->
</section>
<section id="fuatures" class="ds columns_padding_0">
    <div class="container-fluid">
        <div class="row flex-row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="teaser media media-xxs-block inline-block cs hover_icon with_padding big_padding">
                    <div class="media-left media-middle">
                        <div class="size_big inline-block round light_bg_color thick_border_icon"> <i class="fa fa-truck highlight teaser_icon" aria-hidden="true"></i> </div>
                    </div>
                    <div class="media-body media-middle">
                        <h4 class="text-uppercase bottommargin_10"><a href="#0">Shipping Worldwide</a></h4>
                        <!-- <p>At vero eos accusam justo duo dolores rebum stet clita kasd gubergren.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="teaser media media-xxs-block inline-block cs main_color2 hover_icon with_padding big_padding">
                    <div class="media-left media-middle">
                        <div class="size_big inline-block round light_bg_color thick_border_icon"> <i class="fa fa-user highlight2 teaser_icon" aria-hidden="true"></i> </div>
                    </div>
                    <div class="media-body media-middle">
                        <h4 class="text-uppercase bottommargin_10"><a href="#0">Partnership Program</a></h4>
                        <!-- <p>No sea takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="teaser media media-xxs-block inline-block cs main_color3 hover_icon with_padding big_padding">
                    <div class="media-left media-middle">
                        <div class="size_big inline-block round light_bg_color thick_border_icon"> <i class="fa fa-tags highlight3 teaser_icon" aria-hidden="true"></i> </div>
                    </div>
                    <div class="media-body media-middle">
                        <h4 class="text-uppercase bottommargin_10"><a href="#0">Discounts &amp; Sale</a></h4>
                        <!-- <p>Consetetur sacing elited diam nonumy eirmod tempor invidunt ut labore et.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="ls page_about background_cover section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6 text-center">
                <h2 class="section_header"> <span class="small">Welcome to</span> P-<span class="highlight">GRIP</span> </h2>
                <p class="fontsize_20">Our product portfolio is comprised of the most trusted brands and we offering the finest customer service. We offer top quality products at reasonable prices, provide unparalleled technical assistance, and back it all up with outstanding customer
                    support.</p>
                <p class="topmargin_50"> <a routerLink="/about" class="theme_button color1 inverse">About us</a> </p>
            </div>
        </div>
    </div>
</section>
<section id="features" class="ds color parallax page_features section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <h2 class="section_header"> <span class="small">About</span> P-<span class="highlight">GRIP</span> </h2>
                <p class="fontsize_20"> <strong>P-GRIP</strong> helps manufacturers maximize the productivity they gain from their pneumatic tools, diaphragm pumps, chain hoists and related supplies. We dedicated to helping our customers andreduce operating costs. </p>
            </div>
            <div class="col-md-6 col-lg-offset-1">
                <div class="teaser media">
                    <div class="media-left">
                        <div class="teaser_icon size_small highlight"> <i class="fa fa-users"></i> </div>
                    </div>
                    <div class="media-body">
                        <h4 class="highlight text-uppercase"> We are professionals </h4>
                        <p> How all this mistakens idea of denouncing pleasures and completed account. </p>
                    </div>
                </div>
                <div class="teaser media">
                    <div class="media-left">
                        <div class="teaser_icon size_small highlight2"> <i class="fa fa-suitcase"></i> </div>
                    </div>
                    <div class="media-body">
                        <h4 class="highlight2 text-uppercase"> We are trusted </h4>
                        <p> Idea denouncing pleasures and praisings pain was born great explorer. </p>
                    </div>
                </div>
                <div class="teaser media">
                    <div class="media-left">
                        <div class="teaser_icon size_small highlight3"> <i class="fa fa-star"></i> </div>
                    </div>
                    <div class="media-body">
                        <h4 class="highlight3 text-uppercase"> We are experts </h4>
                        <p> Denouncing pleasures and was born work will give you a complete masters. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="categories" class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header"> <span class="small">Featured</span> Categories </h2>
            </div>
        </div>
        <div class="row columns_margin_bottom_20">
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0"> <img  src="assets/images/Hinges.png" alt="">
                        <div class="media-links"></div>
                    </div> <a routerLink="/product" [queryParams]="{category:'Hinges'}" class="bg_link highlight4link">Hinges</a> </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0"> <img src="assets/images/locksAndKeys.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a routerLink="/product" [queryParams]="{category:'Locks and Keys'}" class="bg_link highlightlink">Locks and Keys</a> </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0"> <img src="assets/images/airVents.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a routerLink="/product" [queryParams]="{category:'Air Vent Filter'}" class="bg_link highlight3link">Air Vent Filter</a> </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0"> <img src="assets/images/neutralBars.png" alt="">
                        <div class="media-links"></div>
                    </div> <a routerLink="/product" [queryParams]="{category:'Neutral Bars'}" class="bg_link highlight2link">Neutral Bars</a> </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0"> <img src="assets/images/neutral-link.png" alt="">
                        <div class="media-links"></div>
                    </div> <a routerLink="/product" [queryParams]="{category:'Disconnecting Neutral Link'}" class="bg_link highlight5link">Disconnecting Neutral Link</a> </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0"> <img src="assets/images/insulator.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a routerLink="/product" [queryParams]="{category:'Insulator'}" class="bg_link highlight6link">Insulator</a> </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0"> <img src="assets/images/connector.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a routerLink="/product" [queryParams]="{category:'Connector'}" class="bg_link highlight7link">Connector</a> </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0"> <img src="assets/images/sleeves.png" alt="">
                        <div class="media-links"></div>
                    </div> <a routerLink="/product" [queryParams]="{category:'Sleeve'}" class="bg_link highlight8link">Sleeve</a> </div>
            </div>
        </div>
        <div class="row topmargin_30">
            <div class="col-sm-12 text-center"> <a routerLink="/product" class="theme_button color1 inverse">Go to shop</a> </div>
        </div>
    </div>
</section>
<div id="testimonials" class="ds color page_testimonials parallax section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel testimonials-owl-dots" data-responsive-lg="3" data-responsive-md="3" data-responsive-sm="3" data-responsive-xs="3" data-center="true" data-loop="true" data-margin="10" data-touch-drag="false" data-mouse-drag="false">
                    <div> <img src="assets/images/faces/02.jpg" alt="" /> </div>
                    <div> <img src="assets/images/faces/03.jpg" alt="" /> </div>
                    <div> <img src="assets/images/faces/01.jpg" alt="" /> </div>
                </div>
                <div class="owl-carousel testimonials-owl-content topmargin_20" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1" data-loop="true" data-margin="0" data-dots="true" data-nav="false">
                    <blockquote class="text-center with_quote topmargin_0">
                        <div class="item-meta">
                            <h5> <span class="thin">Varun</span> Garg </h5>
                        </div>
                        <p>The goods have been well received! We are really satisfied with the service of International AP-GRIP. They help us to clear our confusion when choosing the products, fast delivery, and good after sales service.</p>
                    </blockquote>
                    <blockquote class="text-center with_quote topmargin_0">
                        <div class="item-meta">
                            <h5> <span class="thin">Yash</span> Bhardwaj </h5>
                        </div>
                        <p>Just wanted to let you know how happy I was with your customer service and the products I received. I made a mistake by purchasing items using my personal account instead of my business account.</p>
                    </blockquote>
                    <blockquote class="text-center with_quote topmargin_0">
                        <div class="item-meta">
                            <h5> <span class="thin">Nishtha</span> Chikara </h5>
                        </div>
                        <p>P-GRIP, I purchased some air tools via the website, I found their service and communication very efficient. I was kept informed thru the whole process in a timely manner.</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="news" class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header"> <span class="small">Blog</span> Latest news </h2>
                <div class="owl-carousel topmargin_50" data-responsive-lg="3">
                    <article class="vertical-item content-padding with_border rounded">
                        <div class="item-media top_rounded overflow_hidden"> <img src="assets/images/gallery/01.jpg" alt="">
                            <div class="entry-meta-corner main_bg_color"> <span class="date">06</span> <span class="small-text big-spacing">aug</span> </div>
                        </div>
                        <div class="item-content" style="height: 250px;">
                            <h4 class="entry-title"> <a href="">India’s RE Sector At The Crossroads</a> </h4>
                            <p>Moreover, India had set a target of 175 GW renewable energy capacity by 2022 and 
                                has already installed 80.47 GW, of which solar and wind comprises 29.55 GW and 
                                36.37 GW respectively.
                                <!-- <p class="highlightlinks"> <a href="" class="read-more">read more</a> </p> -->
                        </div>
                    </article>
                    <article class="vertical-item content-padding with_border rounded">
                        <div class="item-media top_rounded overflow_hidden"> <img src="assets/images/gallery/02.jpg" alt="">
                            <div class="entry-meta-corner main_bg_color2"> <span class="date">04</span> <span class="small-text big-spacing">aug</span> </div>
                        </div>
                        <div class="item-content" style="height: 250px;">
                            <h4 class="entry-title hover-color2"> <a href="">Another Push For Electric Vehicles</a> </h4>
                            <p>Prime Minister Narendra Modi led NDA government continues to push for its clean mobility initiative in the country. <!-- <p class="highlight2links"> <a href="" class="read-more">read more</a> </p> -->
                        </div>
                    </article>
                    <article class="vertical-item content-padding with_border rounded">
                        <div class="item-media top_rounded overflow_hidden"> <img src="assets/images/gallery/03.jpg" alt="">
                            <div class="entry-meta-corner main_bg_color3"> <span class="date">01</span> <span class="small-text big-spacing">aug</span> </div>
                        </div>
                        <div class="item-content" style="height: 250px;">
                            <h4 class="entry-title hover-color3"> <a href="">Green signal for EVs</a> </h4>
                            <p>Keeping pace with the changing global trends, India is gearing up to welcome more and more electric vehicles (EVs).</p>
                            <!-- <p class="highlight3links"> <a href="" class="read-more">read more</a> </p> -->
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>