<app-header></app-header>
<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="text-uppercase">Single Service</h2>
                <ol class="breadcrumb highlightlinks">
                    <li> <a routerLink="/">
                Home
            </a> </li>
                    <!-- <li> <a href="#">Pages</a> </li> -->
                    <li class="active">Single Service</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_130 section_padding_bottom_130 columns_padding_25">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-8 col-lg-8 col-sm-push-5 col-md-push-4 col-lg-push-4">
                <article class="single-post vertical-item content-padding big-padding with_border rounded post">
                    <div class="entry-thumbnail item-media bottommargin_40"> <img src="assets/images/gallery/09.jpg" alt=""> </div>
                    <div class="item-content">
                        <header class="entry-header">
                            <h1 *ngIf="product" class="entry-title text-uppercase topmargin_0">{{product.name}}</h1>
                        </header>
                        <!-- .entry-header -->
                        <div class="entry-content">
                            <p>Rump tongue salami beef meatloaf doner. Sirloin burgdoggen pastrami, ground round brisket t-bone boudin biltong pork belly leberkas. Ham bresaola tenderloin shank. Ham salami kevin beef rump filet mignon sirloin tail sausage capicola venison
                                short loin brisket pancetta pork chop. Ham hock andouille strip steak chuck turducken cow. Ham hock porchetta pastrami flank, tongue jerky pork belly leberkas.</p>
                            <p>Leberkas venison sirloin andouille, drumstick filet mignon boudin hamburger pastrami pork chop ribeye bresaola ball tip. Alcatra turducken flank sirloin beef t-bone venison ball tip cow. Porchetta kevin hamburger chuck. Porchetta doner drumstick,
                                short ribs ham hock short loin salami filet mignon jowl pork chop swine bresaola cow picanha. Jowl venison swine corned beef.</p>
                            <ul class="list2 color3 checklist">
                                <li>Brisket doner meatloaf turducke</li>
                                <li>Pancetta landjaeger alcatra groun</li>
                                <li>Round pork turkey boudin shank</li>
                                <li>Round pork turkey boudin shank</li>
                            </ul>
                            <p>Shoulder turducken andouille hamburger chicken. Short loin chuck fatback rump short ribs pancetta brisket ball tip capicola strip steak t-bone bresaola landjaeger ribeye. Bresaola pork belly ball tip spare ribs flank kielbasa drumstick porchetta
                                turkey pork loin doner sausage.</p>
                        </div>
                        <!-- .entry-content -->
                    </div>
                    <!-- .item-content -->
                </article>
            </div>
            <!--eof .col-sm-8 (main content)-->
            <!-- sidebar -->
            <aside class="col-sm-5 col-md-4 col-lg-4 col-sm-pull-7 col-md-pull-8 col-lg-pull-8">
                <div class="widget text">
                    <h3 class="widget-title">Navigation</h3>
                    <ul class="list2 checklist greylinks">
                        <li class=""> <a href="#">Electric Tools</a> </li>
                        <li class=""> <a href="#">Measurement Equipment</a> </li>
                        <li class=""> <a href="#">Power Electric Equpment</a> </li>
                        <li class=""> <a href="#">Frankfurter Salami</a> </li>
                    </ul>
                </div>
            </aside>
            <!-- eof aside sidebar -->
        </div>
    </div>
</section>