<footer class="page_footer ds color section_padding_top_100 section_padding_bottom_65 table_section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center text-sm-left">
                <div class="widget widget_text"> <a routerLink="/" class="logo vertical_logo">
            <img src="assets/images/logo-light.png" alt="">
        </a> </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center text-sm-left">
                <div class="widget widget_text">
                    <h4 class="widget-title highlight">Contacts</h4>
                    <table class="highlightlinks">
                        <tbody>
                            <tr>
                                <td>Address:</td>
                                <td>4518 Spirit Drive, Delhi</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>+91-9891352226</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td><a href="mailto:electrcs@gmail.com">pgrip@gmail.com</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center text-sm-left">
                <div class="widget widget_twitter">
                    <h4 class="widget-title highlight2">Quick Links</h4>
                    <table class="highlightlinks">
                        <tbody>
                            <tr>
                                <td routerLink="/about">About Us</td>
                            </tr>
                            <tr>
                                <td routerLink="/contact">Contact</td>
                            </tr>
                            <tr>
                                <td routerLink="/faq">FAQ's</td>
                            </tr>
                            <tr>
                                <td routerLink="/team">Team</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center text-sm-left">
                <div class="widget widget_mailchimp">
                    <h4 class="widget-title highlight3">Newsletter</h4>
                    <form class="signup" >
                        <p>Subscribe to our mailing list to receive new updates and special offers:</p>
                        <div class="form-group-wrap">
                            <div class="form-group"> <label for="mailchimp" class="sr-only">Enter your email here</label> <input name="email" type="email" id="mailchimp" class="mailchimp_email form-control" placeholder="Email Address"> </div> <button type="submit" class="theme_button no_bg_button color3">Subscribe</button>										</div>
                        <div class="response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>