<app-header></app-header>
<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="text-uppercase">Team</h2>
                <ol class="breadcrumb highlightlinks">
                    <li> <a routerLink="/">
                Home
            </a> </li>
                    <li class="active">Team</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_130 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel team-owl-carousel" data-nav="false" data-dots="false" data-responsive-lg="3" data-responsive-sm="3" data-center="true" data-loop="true">
                    <div class="vertical-item content-absolute hover-content">
                        <div class=" rounded overflow_hidden"> <img width="100%" height="100%" src="https://www.dameca.com/Content/Images/profilepic.png" alt="">
                            <div class="media-links"> </div>
                        </div>
                        <header class="item-content cs bottom_rounded">
                            <div class="content-justify vertical-center">
                                <h4 class="margin_0 text-center">Rahul Shrotriya</h4> <span class="small-text topmargin_5">Manager</span> </div>
                        </header>
                    </div>
                    <div class="vertical-item content-absolute hover-content">
                        <div class=" rounded overflow_hidden"> <img width="100%" height="100%" src="https://www.dameca.com/Content/Images/profilepic.png" alt="">
                            <div class="media-links"> </div>
                        </div>
                        <header class="item-content cs main_color2 bottom_rounded">
                            <div class="content-justify vertical-center">
                                <h4 class="margin_0 text-center">Shivam Dixit</h4> <span class="small-text topmargin_5">Sales</span> </div>
                        </header>
                    </div>
                    <div class="vertical-item content-absolute hover-content">
                        <div class=" rounded overflow_hidden"> <img width="100%" height="100%" src="https://www.dameca.com/Content/Images/profilepic.png" alt="">
                            <div class="media-links"> </div>
                        </div>
                        <header class="item-content cs main_color3 bottom_rounded">
                            <div class="content-justify vertical-center">
                                <h4 class="margin_0 text-center">Vipul Chikara</h4> <span class="small-text topmargin_5">Developer</span> </div>
                        </header>
                    </div>
                </div>
                <div class="owl-carousel team-owl-carousel-content topmargin_60" data-nav="false" data-dots="false" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-mouse-drag="false" data-touch-drag="false">
                    <div class="row columns_padding_25 columns_margin_bottom_30">
                        <div class="col-sm-6">
                            <h3 class="text-uppercase margin_0">Rahul Shrotriya</h3>
                            <p class="small-text big highlight">Director (Ph.  +91 9625008303)</p>
                            <p>A person from a group of managers who leads or supervises a particular area of a company.
                                 Companies that use this term often have many directors spread throughout different business 
                                 functions or roles.</div>
                                  <div class="col-sm-6">
                                <p class="progress-bar-title"> Confidence </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-color2" role="progressbar" data-transitiongoal="90"> <span>90%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Enthusiasm </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-color3" role="progressbar" data-transitiongoal="95"> <span>95%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Competitiveness </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-transitiongoal="100"> <span>100%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Empathy </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-color2" role="progressbar" data-transitiongoal="85"> <span>85%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Ability to Listen </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-color3" role="progressbar" data-transitiongoal="62"> <span>62%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Networking Ability </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-transitiongoal="95"> <span>95%</span> </div>
                                </div>
                            </div>
                    </div>
                    <div class="row columns_padding_25 columns_margin_bottom_30">
                        <div class="col-sm-6">
                            <h3 class="text-uppercase margin_0">Shivam Dixit</h3>
                            <p class="small-text big highlight2">Sales (Ph.  +91 8447861802)</p>
                            <!-- <p class="fontsize_20">Kielbasa leberkas bacon ham hock landjaeger. Meatball brisket sausage tri-tip short ribs.</p> -->
                            <p>An individual who sells goods and services to other entities. The successfulness of a salesperson
                                 is usually measured by the amount of sales he or she is able to make during a given period
                                  and how good that person is in persuading individuals to make a purchase. If a salesperson is employed
                                   by a company, in some cases compensation can be decreased or increased based on the amount of goods or 
                                   services sold.</p>
                        </div>
                        <div class="col-sm-6">
                                <p class="progress-bar-title"> Confidence </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-color2" role="progressbar" data-transitiongoal="90"> <span>90%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Enthusiasm </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-color3" role="progressbar" data-transitiongoal="95"> <span>95%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Competitiveness </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-transitiongoal="100"> <span>100%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Empathy </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-color2" role="progressbar" data-transitiongoal="85"> <span>85%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Ability to Listen </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-color3" role="progressbar" data-transitiongoal="62"> <span>62%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Networking Ability </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-transitiongoal="95"> <span>95%</span> </div>
                                </div>
                            </div>
                    </div>
                    <div class="row columns_padding_25 columns_margin_bottom_30">
                        <div class="col-sm-6">
                            <h3 class="text-uppercase margin_0">Vipul Chikara</h3>
                            <p class="small-text big highlight3">Web Developer (Ph.  +91 7668699607)</p>
                            <p>A programmer who specializes in, 
                                or is specifically engaged in, the development of World
                                 Wide Web applications using a client–server model.</p>

                        </div>
                        <div class="col-sm-6">
                                <p class="progress-bar-title"> Confidence </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-color2" role="progressbar" data-transitiongoal="90"> <span>90%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Enthusiasm </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-color3" role="progressbar" data-transitiongoal="95"> <span>95%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Competitiveness </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-transitiongoal="100"> <span>100%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Empathy </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-color2" role="progressbar" data-transitiongoal="85"> <span>85%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Ability to Listen </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-color3" role="progressbar" data-transitiongoal="62"> <span>62%</span> </div>
                                </div>
                                <p class="progress-bar-title"> Networking Ability </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-transitiongoal="95"> <span>95%</span> </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>