<header class="page_header header_white toggler_xs_right section_padding_25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 display_table">
                <div class="header_left_logo display_table_cell"> <a routerLink="/" class="logo top_logo">
            <img src="assets/images/logo.png" alt="">
        </a> </div>
                <div class="header_mainmenu display_table_cell text-center">
                    <!-- main nav start -->
                    <nav class="mainmenu_wrapper">
                        <ul class="mainmenu nav sf-menu">
                            <li > <a routerLink="/">Home</a>
                            </li>
                            <!-- eof pages -->
                            <li> <a routerLink="/product">Products</a>
                            </li>
                            <!-- eof features -->
                            <!-- blog -->
                            <li> <a routerLink="/gallery">Gallery</a>
                            </li>
                            <!-- eof blog -->
                            <!-- contacts -->
                            <li> <a routerLink="/contact">Contacts</a>
                            </li>
                            <!-- eof contacts -->
                            <li> <a routerLink="/about">About</a>
                            </li>
                        </ul>
                    </nav>
                    
                    <!-- eof main nav -->
                    <!-- header toggler --><span class="toggle_menu"><span></span></span>
                </div>
                <!-- <div class="header_right_buttons display_table_cell text-right hidden-xs"> -->
                    <!-- <div class="widget widget_search inline-block">
                        <form method="get" class="searchform form-inline" action="http://webdesign-finder.com/html/electrix/">
                            <div class="form-group-wrap">
                                <div class="form-group margin_0"> <label class="sr-only" for="topline-search">Search for:</label> <input id="topline-search" type="text" value="" name="search" class="form-control" placeholder="Search..."> </div> <button type="submit" class="theme_button color1">Search</button>											</div>
                        </form>
                    </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</header>
