<app-header></app-header>
<block-ui >
  <section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="text-uppercase">Add Products</h2>
          <ol class="breadcrumb highlightlinks">
            <li> <a routerLink="/">
                Home
              </a> </li>
            <!-- <li> <a>Shop</a> </li> -->
            <li class="active">Add Products</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="ls section_padding_top_130 section_padding_bottom_130">
    <div class="container my-3 mx-auto">
      <form (ngSubmit)="onSave(f.value)" #f="ngForm">
        <div class="row">
          <div class="col-md-7">
            <div>
              <h2 class="lead" style="font-family: 'Montserrat', sans-serif; font-weight:700;">Enter Information</h2>
              <hr>
            </div>
            <div class="form-group">
              <label id="name" for="">Product Name</label>
              <input #productName="ngModel" type="text" [(ngModel)]="product.name" id="name" name="name" class="form-control"
                required>
            </div>
            <div *ngIf="categories" class="form-group">
              <label id="Category" for="type">Category</label>
              <select #category="ngModel" [(ngModel)]="product.category" name="type" id="Category" class="form-control"
                required>
                <option value="">Select a category</option>
               
                  <option *ngFor="let c of categories" [ngValue]="c.name">{{c.name}}</option>
                <!-- </div> -->
              </select>
            </div>
            <div class="form-group">
              <label id="quantity" for="quantity">Image</label><br>
              <span>Select Image of the Listing - &nbsp;</span>
              <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
              <button (click)="fileInput.click()" type="button" class="theme_button wide_button color1 topmargin_40 fa fa-paperclip">Select
                File</button>&nbsp;&nbsp;&nbsp;
              <p *ngIf="selectedFile">{{selectedFile.name}}</p>
              <p *ngIf="type" style="color:red">Type of image should be of (.jpg)</p>
              <p *ngIf="size" style="color:red">Image size should be less than 1MB</p>
            </div>
            <div class="form-group">
              <label id="desc" for="">Product Description</label>
              <textarea #productName="ngModel" type="text" [(ngModel)]="product.description" id="desc" name="description"
                class="form-control" required></textarea>
            </div>
            <button class="theme_button wide_button color1 topmargin_40" [disabled]="!f.valid || !res">Add Product</button>&nbsp;&nbsp;&nbsp;
            <br> <br> <br>
          </div>
          <div class="col-md-5">
            <div *ngIf="f.valid && res" class="item-media muted_background rounded overflow_hidden">
               <a >
                <img src="{{product.image}}" alt="">
              </a>
              <div class="entry-meta-corner main_bg_color2"> <span class="value"></span> <span class="small-text big-spacing">inr</span>
              </div>
            </div>
            <div  *ngIf="f.valid && res" style="height:250px" class="item-content text-center">
              <div class="content-justify">
                <div class="small-text big highlight2links"> <a>{{product.category}}</a> </div>
                <div>
                </div>
              </div>
              <h4 class="entry-title topmargin_10 hover-color2"> <a>{{product.name}}</a> </h4>
              <p>Certification:</p> <img src="assets/images/ce.png" alt=""> &nbsp; <img src="assets/images/rohs.jpg" alt="">
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</block-ui>