<app-header></app-header>
<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="text-uppercase">Team</h2>
                <ol class="breadcrumb highlightlinks">
                    <li> <a routerLink="/">
                Home
            </a> </li>
                    <li class="active">Team</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_130 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel team-owl-carousel" data-nav="false" data-dots="false" data-responsive-lg="3" data-responsive-sm="3" data-center="true" data-loop="true">
                    <div class="vertical-item content-absolute hover-content">
                        <div class="item-media rounded overflow_hidden"> <img src="assets/images/team/01.jpg" alt="">
                            <div class="media-links"> </div>
                        </div>
                        <header class="item-content cs bottom_rounded">
                            <div class="content-justify vertical-center">
                                <h4 class="margin_0 text-center">Steve Tran</h4> <span class="small-text topmargin_5">Director</span> </div>
                        </header>
                    </div>
                    <div class="vertical-item content-absolute hover-content">
                        <div class="item-media rounded overflow_hidden"> <img src="assets/images/team/02.jpg" alt="">
                            <div class="media-links"> </div>
                        </div>
                        <header class="item-content cs main_color2 bottom_rounded">
                            <div class="content-justify vertical-center">
                                <h4 class="margin_0 text-center">Charlotte Hanson</h4> <span class="small-text topmargin_5">Manager</span> </div>
                        </header>
                    </div>
                    <div class="vertical-item content-absolute hover-content">
                        <div class="item-media rounded overflow_hidden"> <img src="assets/images/team/03.jpg" alt="">
                            <div class="media-links"> </div>
                        </div>
                        <header class="item-content cs main_color3 bottom_rounded">
                            <div class="content-justify vertical-center">
                                <h4 class="margin_0 text-center">George Daniel</h4> <span class="small-text topmargin_5">Manager</span> </div>
                        </header>
                    </div>
                </div>
                <div class="owl-carousel team-owl-carousel-content topmargin_60" data-nav="false" data-dots="false" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-mouse-drag="false" data-touch-drag="false">
                    <div class="row columns_padding_25 columns_margin_bottom_30">
                        <div class="col-sm-6">
                            <h3 class="text-uppercase margin_0">Steve Tran</h3>
                            <p class="small-text big highlight">Director</p>
                            <p>Shoulder brisket shankle chuck tongue chicken kevin salami shank fatback. Pancetta capicola ham andouille shoulder bacon filet mignon pastrami shankle rump tenderloin jerky shank. Alcatra bacon landjaeger, pastrami turducken drumstick cow ribeye
                                sausage prosciutto. Capicola pancetta cupim doner, pork chop tenderloin boudin porchetta shank.</p>

                        </div>
                        <div class="col-sm-6">
                            <p class="progress-bar-title"> Pork belly </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-color2" role="progressbar" data-transitiongoal="50"> <span>50%</span> </div>
                            </div>
                            <p class="progress-bar-title"> Kevin drumstick pancetta </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-color3" role="progressbar" data-transitiongoal="90"> <span>90%</span> </div>
                            </div>
                            <p class="progress-bar-title"> Hamburger swine </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="100"> <span>100%</span> </div>
                            </div>
                            <p class="progress-bar-title"> Turkey filet mignon </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-color2" role="progressbar" data-transitiongoal="25"> <span>25%</span> </div>
                            </div>
                            <p class="progress-bar-title"> Turkey filet mignon </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-color3" role="progressbar" data-transitiongoal="62"> <span>62%</span> </div>
                            </div>
                            <p class="progress-bar-title"> pancetta meatloaf Ham hock </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="75"> <span>75%</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row columns_padding_25 columns_margin_bottom_30">
                        <div class="col-sm-6">
                            <h3 class="text-uppercase margin_0">George Daniel</h3>
                            <p class="small-text big highlight2">manager</p>
                            <p class="fontsize_20">Kielbasa leberkas bacon ham hock landjaeger. Meatball brisket sausage tri-tip short ribs.</p>
                            <p>Shoulder brisket shankle chuck tongue chicken kevin salami shank fatback. Pancetta capicola ham andouille shoulder bacon filet mignon pastrami shankle rump tenderloin jerky shank. Alcatra bacon landjaeger, pastrami turducken drumstick cow ribeye
                                sausage prosciutto. Capicola pancetta cupim doner, pork chop tenderloin boudin porchetta shank.</p>

                        </div>
                        <div class="col-sm-6">
                            <p class="progress-bar-title"> Pork belly </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-color2" role="progressbar" data-transitiongoal="50"> <span>50%</span> </div>
                            </div>
                            <p class="progress-bar-title"> Kevin drumstick pancetta </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-color3" role="progressbar" data-transitiongoal="90"> <span>90%</span> </div>
                            </div>
                            <p class="progress-bar-title"> Hamburger swine </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="100"> <span>100%</span> </div>
                            </div>
                            <p class="progress-bar-title"> Turkey filet mignon </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-color2" role="progressbar" data-transitiongoal="25"> <span>25%</span> </div>
                            </div>
                            <p class="progress-bar-title"> Turkey filet mignon </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-color3" role="progressbar" data-transitiongoal="62"> <span>62%</span> </div>
                            </div>
                            <p class="progress-bar-title"> pancetta meatloaf Ham hock </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="75"> <span>75%</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row columns_padding_25 columns_margin_bottom_30">
                        <div class="col-sm-6">
                            <h3 class="text-uppercase margin_0">Charlotte Hanson</h3>
                            <p class="small-text big highlight3">Manager</p>
                            <p class="fontsize_20">Kielbasa leberkas bacon ham hock landjaeger. Meatball brisket sausage tri-tip short ribs.</p>
                            <p>Shoulder brisket shankle chuck tongue chicken kevin salami shank fatback. Pancetta capicola ham andouille shoulder bacon filet mignon pastrami shankle rump tenderloin jerky shank. Alcatra bacon landjaeger, pastrami turducken drumstick cow ribeye
                                sausage prosciutto. Capicola pancetta cupim doner, pork chop tenderloin boudin porchetta shank.</p>

                        </div>
                        <div class="col-sm-6">
                            <p class="progress-bar-title"> Pork belly </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-color2" role="progressbar" data-transitiongoal="50"> <span>50%</span> </div>
                            </div>
                            <p class="progress-bar-title"> Kevin drumstick pancetta </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-color3" role="progressbar" data-transitiongoal="90"> <span>90%</span> </div>
                            </div>
                            <p class="progress-bar-title"> Hamburger swine </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="100"> <span>100%</span> </div>
                            </div>
                            <p class="progress-bar-title"> Turkey filet mignon </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-color2" role="progressbar" data-transitiongoal="25"> <span>25%</span> </div>
                            </div>
                            <p class="progress-bar-title"> Turkey filet mignon </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-color3" role="progressbar" data-transitiongoal="62"> <span>62%</span> </div>
                            </div>
                            <p class="progress-bar-title"> pancetta meatloaf Ham hock </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="75"> <span>75%</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>